{% extends "layout.html" %}

{% block title %}
    {{ title }}
{% endblock %}


{% block content %}
    <h1>{{ title }}</h1>
    <form action="{{ url_for("edit_comment", comment_id=comment_id) }}" method="POST">
        {% for data in comment %}
            <p>
                <textarea name="message" cols="30" rows="10" autofocus required>{{ comment["message"] }}</textarea>
            </p>
        {% endfor %}
        <br>
        <button type="submit">Submit</button>
    </form>


{% endblock %}