{% extends "layout.html" %}

{% block title %}
    {{ title }}
{% endblock %}


{% block content %}
<h1>Listing questions</h1>
    <p><a href="{{ url_for('route_question') }}">Add new question</a></p>
<table>
    <thead>
        <tr>
            <th>Submission<br>time</th>
            <th>View<br>number</th>
            <th>Vote<br>number</th>
            <th>Title</th>
            <th>Vote</th>
        </tr>
    </thead>
    <tbody>
    {% for row in data %}
        <tr>
            <td>{{ row["submission_time"] }}</td>
            <td>{{ row["view_number"] }}</td>
            <td>{{ row["vote_number"] }}</td>
            <td><a href="{{ url_for('display_question', question_id=row['id']) }}">{{ row["title"] }}</a></td>
            <td>
                <img src="/static/like.png" width="30" height="30" alt="Like">
                <img src="/static/dislike.png" width="30" height="30" alt="Dislike">
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>


{% endblock %}