{% extends "layout.html" %}

{% block title %}
    {{ title }}
{% endblock %}


{% block content %}
<h1>Login</h1>
    <form action="{{ url_for("route_user_login") }}", method="POST">
        <p>User name<br>
        <input type="text" name="user_name" required size="20">
        </p>

        <p>Password<br>
        <input type="password" name="password" required size="20">
        </p>
        <br>
        <button type="submit">Login</button>
    </form>

    <p><a href="{{ url_for("get_last_5_questions_by_time") }}">Go back to main page</a></p>
    <h2>{{ message }}</h2>

{% endblock %}