{% extends "layout.html" %}

{% block title %}
    {{ title }}
{% endblock %}

{% block content %}
    <table>
        <tr>
            <th>User Name</th>
            <th>Registered</th>
            <th>Reputation</th>
            <th>Number of questions</th>
            <th>Number of answers</th>
            <th>Number of comments</th>
        </tr>
        {% for user in users %}
            <tr>
                <td><a href="{{ url_for('user_page', user_name=user["user_name"]) }}"> {{ user["user_name"] }} </a></td>
                <td>{{ user['user_name']["reg_date"] }}</td>
                <td>{{ user["reputation"] }}</td>
                <td>{{ user["number_of_questions"] }}</td>
                <td>{{ user["number_of_answers"] }}</td>
                <td>{{ user["number_of_comments"] }}</td>
            </tr>
        {% endfor %}

    </table>
    <p><a href="{{ url_for("get_last_5_questions_by_time") }}">Go back to main page</a></p>

{% endblock %}